{:paths ["src" "resources"]
 :deps {prismatic/schema {:mvn/version "1.4.1"}
        com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.0.3"}}
 :jvm-opts ["-Djdk.attach.allowAttachSelf"]
 :aliases
 {:test {:extra-paths ["test/resources" "test/src"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}